.hero_banner {
    background-image: url('../../assets/Home/bckd_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 20px;
    background-position: center;
    
}

.banner_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 55%;
    padding-top: 6%;
    padding-left: 10%;
}