.hero_banner {
    background-image: url('../../assets/Home/bckd_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 20px;
    scale: crop;
}

.banner_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 55%;
    padding-top: 6%;
    padding-left: 10%;
}

.box{
    width: 80%;
    position: absolute;
    left: 150px;
    bottom: -100px;
    background-color: white;
    height: 30%;
    padding: 10px;
    border-radius: 20px;
}