@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter {
    font-family: "Inter", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.public_sans {
    font-family: "Public Sans", sans-serif;
}

.prompt {
    font-family: "Prompt", sans-serif;
}

.pt {
    font-family: "PT Sans", sans-serif;
}

.nnt {
    font-family: "Nunito", sans-serif;
}

.ram_ji {
    height: 50px;

}

@font-face {
    font-family: gs;
    src: url(/src/fonts/generalsans/GeneralSans-Regular.otf);
}

.gs {
    font-family: gs;
}

.container_box {
    width: 85%;
    margin: auto;
}

.vitamins_banner {
    background-image: url(./assets/Home/Banner/Cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-position: center;
}

.swiper-slide {
    padding-right: 0px !important;
}

.range_price input[type="range"] {
    cursor: grab;
    width: 100%;
    height: 5px;
}

.range_price input[type="range"]::-webkit-slider-thumb {
    background-color: brown;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}

.mySwiper2 .swiper-slide-active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySwiper_1 .swiper-button-next,
.swiper-button-prev {
    background-color: #0070BC !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
}

.mySwiper_1 .swiper-button-next svg,
.mySwiper_1 .swiper-button-prev svg {
    width: 20px;
    height: 20px;
    color: white;
}

.swiper-wrapper {
    padding: 5px;
}

.cart_icon,
.wishlist_icon {
    position: relative;
}

.swiper-initialized{
    padding: 10px!important;
}
.cart_icon::after,
.wishlist_icon::after {
    content: '0';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 0px;
    right: 0px;
    font-size: 7px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(173, 22, 22);
}

.slider_add_to_cart {
    display: none;
}

.featured_all_content:hover .slider_add_to_cart {
    display: block;
}



@media(max-width:986px) {
    .search_nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .category_nav_1 {
        display: none;
    }
}

@media (max-width: 620px) {
    .place_order_button {
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .place_order_button {
        font-size: 8px;
    }
}

@media (max-width: 446px) {
    .place_order_button {
        padding: 5px 7px;
    }
}

@media(max-width: 878px) {
    .heading_text {
        font-size: 23px;
    }
    .vitamin_bannr {
        flex-direction: column;
    }
}

.search_nav input::placeholder {
    color: #184363;
}

.hamburger_menu {
    display: none;
}

.whole_hero_image img {
    width: 100%;
}

.hero_button button {
    width: 100%;
    max-width: 150px;
}

@media screen and (max-width:768px) {
    .footer_section{
        gap: 20px;
    }
    .mask_content{
        top: 10px;
    }
    .box{
        width: 85%;
    }
    .medicine_banner_image{
        width: 100%;
    }
}


@media screen and (max-width: 1600px) {
    .home_box_1 p {
        font-size: 18px;
    }

    .home_box_1 h3 {
        font-size: 24px;
    }
    /* .prodct_servces li{
        max-width: 80%;
    } */
}


@media screen and (max-width: 1400px) {
    .cat_nav_items h5 {
        font-size: 13px;
    }

    .cat_nav_items {
        gap: 25px;
    }

    .home_box_1 p {
        font-size: 18px;
    }

    .cat_nav_items {
        gap: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .cat_nav_items {
        gap: 10px;
    }

    .home_box_1 p {
        font-size: 16px;
    }

    .home_box_1 h3 {
        font-size: 20px;
    }
    .items_services li{
        width: 100%;
    }
    .mask_heading h3,p{
        font-size: 20px;
    }
    .mask_content button{
        font-size: 15px;
    }
    .input_box{
        font-size: 12px;
    }
    .subscribe_btn{
        font-size: 10px;
        right: 18%;
    }
    .footer_col_1{
        gap: 10px;
    }

}

@media screen and (max-width: 1024px) {
    .hero_left_box {
        width: 100%;
        max-width: 100%;
    }

    .home_box_1 p {
        font-size: 15px;
    }

    .image_hero{
        width: 100%;
        max-width: 80%;
    }

    .box {
        gap: 10px;
    }

    .category_nav_1 {
        display: none;
    }
    
    /* .mask_content button{
        font-size: 14px;
    }
    .mask_heading{
        margin-top: 3px;
    }
    .mask_shop_now{
        padding: 4px;
    }
    .mask_shop_now{
        margin-top: 0px;
    } */

    .mask_page{
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
    .hero_left_box {
        width: 100%;
        max-width: 100%;
    }

    .box {
        gap: 5px;
    }

    .home_box_1 p {
        font-size: 10px;
    }

    .hero_left_box h1 {
        font-size: 40px;
    }

    .hero_left_box p {
        font-size: 17px;
    }

    .hamburger_menu {
        display: block;
    }

    .hamburger_menu button {
        cursor: pointer;
    }

    .featured_all_content h3 {
        font-size: 12px;
    }

    .slider_add_to_cart button,
    p{
        font-size: 14px;
    }

    .slider_add_to_cart span {
        font-size: 12px;
    }

    .home_box_1 h3 {
        font-size: 16px;
    }

    .box_1 {
        width: 50px;
        height: 50px;
    }

    .prodct_detail_cart {
        padding: 0px;
        margin-bottom: 0px;
    }

    .footer_section{
        flex-direction: column;
    }
    .footer_col_1{
        width: 100%;
    }
    .subscribe_btn{
        right: 24%;
    }
    .footer_col_2{
        margin-top: 18px;
    }
    .vitamin_banner_left{
        width: 100%;
    }
}

@media screen and (max-width: 576px) {

    .product_details_image {
        height: 250px !important;
    }

    .home_box_1 h3 {
        font-size: 12px;
    }

    .box {
        gap: 2px;
    }

    .vitamin_banner_left {
        padding: 10px;
    }

    .place_order_button {
        width: 100%;
    }

    .vitamins_banner .vitamin_image{
        width: 100%;
    }

    .vitamins_banner .capsule_image{
        width: 100%;
    }
    .footer_social_icons{
        gap: 8px;
    }
    .footer_col_2{
       width: 80%;
    }
    /* .footr_logo img{
        width: 100%;
        max-width: 50%;
    } */

    .footer_subclm{
        width: 100%;
        max-width: 45%;
    }
}

@media screen and (max-width : 425px) {
    .box_1 {
        width: 40px;
        height: 40px;
    }

    .all_category_button {
        width: 60px;
    }

    .heading_text {
        font-size: 18px;
    }

    .view_all {
        font-size: 15px;
    }
}

.about_us {
    background-image: url('../src/assets/Home/bckd_image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer_container hr{
    color: #FFFFFF33;
}